.app {
  margin: 0 auto;
  width: 40%;
  height: 60%;
  /*padding-top: 40px;*/
  margin-top: 40px;
  /*background-color: beige;*/
  /* transform: translateY(40%); */
}
.container {
  display: flex;
  background-color: antiquewhite;
  border-bottom-style: solid;
  border-radius: 4px;
  margin-right: 0px !important;
  padding-right: unset !important;
  margin-bottom: 8px;
}
#input-job {
  margin: 0 auto;
  display: flex;
}

#trash-icon {
  align-items: flex-end;
  transform: translateX(10%);
  margin-bottom: 2px;
  /* margin-right: 4px; */
  background-color: transparent;
  border-color: transparent;
  
}

#detail {
  width: 100%;
  align-self: flex-end;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  
}

#detail-done {
  width: 100%;
  align-self: flex-end;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  text-decoration: line-through;
}

#content {
  /* display: flex; */
  width: 100%;
  background-color: beige;
  border-radius: 2px;
}
#input-feild {
  width: 70%;
  display: flex;
  margin: 0 auto;
}
#input-job {
  margin: 0 auto;
  display: flex;
}
ol {
  display: flex;
  width: 100%;
  flex-direction: row;
}

li {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  position: relative;
  margin: 2px;

}
/* .list-group-item {
  display: flex !important;
  width: 100%;
  background-color: antiquewhite;
} */

img, svg {
  vertical-align: top !important;
  transform: scale(1.3) !important;
}
/* Customize the label (the container) */
.containerCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 0px;
}

/* Hide the browser's default checkbox */
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  scale: 3.5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todoBlock {
  padding-bottom: 2px; 
  margin-bottom: 5px;
  display: flex;
  border-bottom: 2px solid;
  border-radius: 4px;
}